/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
a {
	color: inherit;
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	flex-direction: column;
}
.mode-edition {
	display: flex;
	justify-content: center;
	color: white;
	background-color: black;
	padding: 19.5px 0 20.5px 0;
}
.mode-edition i {
	padding-right: 11px;
}
.header-quand-deconnecte{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
li:hover {
	color: #B1663C;
}

.fa-instagram {
	font-size: 1.209em;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
.filter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 50px;
}
.bouton-filtre {
	margin-left: 10px;
	background-color: transparent;
	border: 1px solid #1D6154;
	border-radius: 60px;
	font-weight: 700;
	font-family: 'Work Sans';
	font-size: 1.20em;
	color: #1D6154;
	padding: 0.4rem 1.5rem;
}

.bouton-actif {
	margin-left: 10px;
	background-color: transparent;
	border: 1px solid #1D6154;
	border-radius: 60px;
	font-weight: 700;
	font-family: 'Work Sans';
	background-color: #1D6154;
	color: white;
	padding: 0.4rem 1.5rem;
}
.figure-cache{
	display: none;
}
#portfolio h2 {
	text-align: center;
	height: 46px;
}
.section-projet-connecte{
	margin-top: 140px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 51px;
}
.modifier-projet{
	display: flex;
	padding-left: 31px;
	margin-bottom: 1em;
	align-items: center;
}
.modifier-projet i{
	padding-right: 10.5px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.submit-non-modale{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
.submit-non-modale:hover{
	background-color: #134038;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*** Comportement de connection/deconnection ***/

.deconnecte {
	display: none;
}
.connecte {
	display: none;
}

/*** Modal ***/

.modal1,
.modal2{
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
}
.modal-galerie-photo,
.modal-ajout-photo{
	display: flex;
	flex-direction: column;
	width: 32%;
	padding: 25px 30px 55px 30px;
	background-color: white;
	border-radius: 10px;
}
.modal-croix-fermer{
	display: flex;
	justify-content: end;
}
.modal-cache{
	display: none;
}
.modal-croix-fermer i{
	font-size: 1.3em ;
}
.modal-fleche-retour-arriere i{
	font-size: 1.5em;
}
.nav-modale{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.div-modal-btn{
	display: flex;
	justify-content: center;
}
.modal-btn{
	font-family: 'Syne';
	font-size: 14px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: #1D6154;
	color: white;
	width: 237px;
	padding: 0.5rem 1.5rem;
}
.modal-btn:hover{
	background-color: #134038;
}
/*** aspect modal 1 ***/
.modal-galerie-photo{
	height: 620px;
}
.modal1-titre{
	display: flex;
	justify-content: center;
	margin: 15px 0 46px 0;
	font-size: 26px;
	line-height: 30.5px;
}
.modal-contenu-work{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 80px ;
	gap: 10px;
	overflow-y: scroll;
	scrollbar-width: none;
}
.modal-projets-figure{
	margin-bottom: 20px;
	align-self: center;
}
.modal-contenu-work img{
	width: 78px;
	height: 104px;
}
.trash{
	margin-top: 6px;
	margin-left: -24px;
	padding: 3px 4.5px 3.5px 4px;
	color: #FFFFFF;
	background: #000000;
	border-radius: 2px;
	position: absolute;
}
.trash::before{
	font-size: 0.9em;
}
.modal-galerie-photo hr {
	margin: 47px 80px 38px 80px;
	border-top: 1px solid #B3B3B3;
}

/*** aspect modal 2 ***/
.modal-ajout-photo{
	height: 600px;
}
#modal-form-ajout-photo{
	padding: 0 80px 0 80px;
}
.modal2-titre{
	display: flex;
	justify-content: center;
	margin: 15px 0 36px 0;
	font-size: 26px;
	line-height: 30.5px;
}
.form-modal-ajout-photo{
	display: flex;
	flex-direction: column;
	background-color:#E8F1F6;
	border-radius: 3px;
	padding: 22.5px 0 19px 0;
	margin-bottom: 30px;
}
#modal-previsu-image{
	width: 30%;
	height: 193px;
	padding: 0;
	align-self: center;
	object-fit: cover;
}
.form-modal-ajout-photo i{
	display: flex;
	justify-content: center;
	margin-bottom: 6px;
	font-size: 4.75em;
	color: #B9C5CC;
}
#modal-input-ajouter-nouvelle-photo{
	display: none;
}
.modal-ajouter-nouvelle-photo{
	display: flex;
	justify-content: center;
	margin: 0 32% 7px 32% ;
	color: #306685;
	background-color: #CBD6DC;
	border-radius: 50px;
	padding: 10px 33px;
	white-space: nowrap;
}
.modal-ajouter-nouvelle-photo:hover{
	background-color: #B2BCC2;
}
.modal-format-taille-photo{
	display: flex;
	justify-content: center;
	font-size: 10px;
}
.form-modal-titre-categorie{
	display: flex;
	flex-direction: column;
}
.titre-modal-input-titre-photo,
.titre-modal-form-categorie{
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	margin-bottom: 10px;
}
#modal-input-titre-photo{
	margin-bottom: 21px;
}
#modal-input-categorie-photo{
	margin-bottom: 47px;
}
#modal-input-titre-photo,
#modal-input-categorie-photo{
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.modal-ajout-photo hr {
	margin: 0 0 32px 0;
	border-top: 1px solid #B3B3B3;
}
.modal-previsu-photo-actif{
	display: none;
}
#modal-previsu-photo-actif{
	display: none;
}
#modal-valider-nouveau-projet.actif{
	font-family: 'Syne';
	font-size: 14px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: #1D6154;
	color: white;
	width: 237px;
	padding: 0.5rem 1.5rem;
}
#modal-valider-nouveau-projet.actif:hover{
	background-color: #134038;
}
#modal-valider-nouveau-projet.inactif{
	font-family: 'Syne';
	font-size: 14px;
	border: 1px solid #A7A7A7;
	border-radius: 60px;
	background-color: #A7A7A7;
	color: white;
	width: 237px;
	padding: 0.5rem 1.5rem;
}
#modal-valider-nouveau-projet.inactif:hover{
	cursor: default;
}

/*** login page***/
#connection {
	width: 35%;
	margin: auto;
}
#connection > * {
	text-align: center;

}
#connection h2{
	margin-bottom: 20px;
}
#connection form{
	display: flex;
	flex-direction: column;
}
.input-form {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.bouton-connexion {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#connection label {
	margin: 2em 0 1em 0;
}
#connection form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
.mdp-oublie{
	display: flex;
	justify-content: center;
}
.mdp-oublie:hover{
	text-decoration: underline;
}

/*** Comportement erreur ***/

.err-message{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #800000;
	height: 1.5rem; 
	background-color: rgba(255, 0, 0, 0.3);
	border: 1px solid rgba(99, 0, 0, 0.4);
	border-radius: 5px;
}

.err-input{
	height: 50px;
	font-size: 1.2em;
	border: 1px solid rgba(255, 0, 0, 0.5);
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}